[Desktop Entry]
Type=Application
Name=TellyKeys
Comment=Remote control for Google TV and Android TV
Exec=tellykeys
Icon=tellykeys
Terminal=false
Categories=Utility;AudioVideo;RemoteAccess;
StartupNotify=true
